<div class="container">
  <div class="page-header">
    <h1>探索行事曆</h1>


  <form class="form-inline fright" action="">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="exampleInputAmount" value="<%= params[:q]%>" name="q">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">搜尋</button>
  </form>
  </div>

      <div class="row">
        <%= content_tag_for(:tr, @calenders) do |calender| %>
          <%= render 'shared/calendar', calender: calender %>
        <% end %>
      </div>
</div>

