<div class="container">

	<div class="whitemain addshadow">
			<div class="titleheader">
			  <h4>新增行事曆</h4>
			</div>
			<hr>

			<div class="ctrlwidth">
			<%= render 'form' %>
			</div>

	</div>

</div>
