<div class="container">

	<div class="whitemain addshadow">
			<%= link_to calenders_path, class: 'btn btn-default' do %>
			    <span class="glyphicon glyphicon-list-alt"></span>
			    Back
			  <% end %>
			<div class="titleheader">
			  <h4>新增行事曆</h4>	
			</div>
			<hr>

			<div class="ctrlwidth">
			<%= render 'form' %>
			</div>
		
	</div>

</div>
