<div class="container">

        <!-- Introduction Row -->
        <div class="row">
        	<div class="col-md-12">
            	<div class="whitemain">

            		<div class="titleheader"><h3>關於 Calender</h3></div>
                	<hr>
                	<p>校園行事曆往往以 PDF、Word、網頁等各種形式公告，對於習慣使用 Google 日曆或 Apple 日曆的使用者來說十分不便，不時會遇到放假撲空、加簽退選逾期等。專案將提供開放平台，讓使用者可以編修、分享校園的行事曆，並且以 ical 檔案格式匯出。</p>
                </div>
            </div>

            <div class="col-md-3">
            	<div class="whitemain">
            		<%= image_tag("http://fakeimg.pl/250x300/" , :class => "img-responsive")  %>
            		<div class="titleheader"><h3>Tonytonyjan</h3></div>
            		<div class="scoialteam">
            		<a href=""><i class="fa fa-github fa-2x"></i></a>
            		<a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
            		<a href=""><i class="fa fa-twitter fa-2x"></i></a>
            		</div>
                	<hr>
                	<p>校園行事曆往往以 PDF、Word、網頁等各種形式公告，對於習慣使用 Google 日曆或 Apple 日曆的使用者來說十分不便，不時會遇到放假撲空、加簽退選逾期等。專案將提供開放平台，讓使用者可以編修、分享校園的行事曆，並且以 ical 檔案格式匯出。</p>
                	<hr>
                </div>
            </div>
            <div class="col-md-3">
            	<div class="whitemain">
            		<%= image_tag("http://fakeimg.pl/250x300/" , :class => "img-responsive")  %>
            		<div class="titleheader"><h3>Odin</h3></div>
            		<div class="scoialteam">
            		<a href=""><i class="fa fa-github fa-2x"></i></a>
            		<a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
            		<a href=""><i class="fa fa-twitter fa-2x"></i></a>
            		</div>
                	<hr>
                	<p>校園行事曆往往以 PDF、Word、網頁等各種形式公告，對於習慣使用 Google 日曆或 Apple 日曆的使用者來說十分不便，不時會遇到放假撲空、加簽退選逾期等。專案將提供開放平台，讓使用者可以編修、分享校園的行事曆，並且以 ical 檔案格式匯出。</p>
                	<hr>
                </div>
            </div>
            <div class="col-md-3">
            	<div class="whitemain">
            		<%= image_tag("http://fakeimg.pl/250x300/" , :class => "img-responsive")  %>
            		<div class="titleheader"><h3>Kksarlulu</h3></div>
            		<div class="scoialteam">
            		<a href=""><i class="fa fa-github fa-2x"></i></a>
            		<a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
            		<a href=""><i class="fa fa-twitter fa-2x"></i></a>
            		</div>
                	<hr>
                	<p>校園行事曆往往以 PDF、Word、網頁等各種形式公告，對於習慣使用 Google 日曆或 Apple 日曆的使用者來說十分不便，不時會遇到放假撲空、加簽退選逾期等。專案將提供開放平台，讓使用者可以編修、分享校園的行事曆，並且以 ical 檔案格式匯出。</p>
                	<hr>
                </div>
            </div>
            <div class="col-md-3">
            	<div class="whitemain">
            		<%= image_tag("http://fakeimg.pl/250x300/" , :class => "img-responsive")  %>
            		<div class="titleheader"><h3>Wood</h3></div>
            		<div class="scoialteam">
            		<a href=""><i class="fa fa-github fa-2x"></i></a>
            		<a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
            		<a href=""><i class="fa fa-twitter fa-2x"></i></a>
            		</div>
                	<hr>
                	<p>校園行事曆往往以 PDF、Word、網頁等各種形式公告，對於習慣使用 Google 日曆或 Apple 日曆的使用者來說十分不便，不時會遇到放假撲空、加簽退選逾期等。專案將提供開放平台，讓使用者可以編修、分享校園的行事曆，並且以 ical 檔案格式匯出。</p>
                	<hr>
                </div>
            </div>
        </div>





</div>
<!-- /.container -->