<div class="container">

        <!-- Introduction Row -->
        <div class="row">
        	<div class="col-md-12">
            	<div class="whitemain">

            		<div class="titleheader"><h3>隱私權政策</h3></div>
                	<hr>
                	<p>本站採取適度的保護措施，防止使用者的個人資訊遭到非法存取、竄改、揭露或毀損。</p>

<p>本站不會出售、出租或任意交換使用者之個人資料給其他團體或個人</p>

<p>由於網際網路上並非絕對安全，敬請各位使用者於本站登錄之個人資料(例如Email, 密碼)，至少進行最低限度的保護</p>
                </div>
            </div>
        </div>    






</div>
<!-- /.container -->