<div class="container">

        <!-- Introduction Row -->
        <div class="row">
        	<div class="col-md-12">
            	<div class="whitemain">

            		<div class="titleheader"><h3>使用者條款</h3></div>
                	<hr>
                	<p>本站僅提供平台供使用者創建或修改個人化日曆，對站上資料不負擔保之責。使用者如因利用開放資訊而受有損害或損失，或因此致第三人遭受損害或損失而遭求償者，本站不負任何賠償或補償之責。
本站自架設日起，除基於興趣或善意維護外，不負責對網站進行更新及維護，亦無義務回應使用者提出之需求</p>
                </div>
            </div>
        </div>  







</div>
<!-- /.container -->
