/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body{

background: #f1f1f1;	
}

.footer {
	position: relative;
  	bottom: 0;
  	width: 100%;
  	background-color:#31455C;
    color: rgb(178, 178, 178);
}
.text-muted {
  	margin: 20px 0;
    color: rgb(178, 178, 178);
}
.footerlist{  margin-top: 11px;
}
.footerlist li {
	display: inline-block;  
	line-height: 30px;
  	padding-right: 14px;
  }
 .footerlist li a{ 
 	color: rgb(178, 178, 178);
 	text-decoration: none;}
 .footerlist li a:hover{color: #f1f1f1;} 

.whitemain{
	border: 1px solid #EAEAEA;
	background: white;
  	margin-bottom: 15px;
  	padding: 15px;
	}
.titleheader{ text-align: center;}
.scoialteam{text-align: center;}
.scoialteam a{  padding-right: 7px;}
.ctrlwidth{width: 800px; margin: 0 auto;}
.addshadow{box-shadow: 0 0 13px rgba(66, 130, 228, 0.26);}

.btn {
    padding: 11px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #31455C;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #ea8778;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn.sharp {
  border-radius:0;
}